/* Body & Background Default */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

/* Font style */
.title-box {
    font-size: 30px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.headings-box {
    font-size: 22px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.headings-box-sm {
    font-size: 19px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.paragraph-box {
    font-size: 16px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    text-align: justify;
}
.paragraph-box-xl {
    font-size: 16px;
    line-height: 1.4705882353;
    font-weight: 550;
    letter-spacing: -0.022em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.bold-paragraph-box {
    font-size: 14px;
    line-height: 1.05;
    font-weight: 550;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    font-color: #383938;
}
.bold-paragraph-box-button {
    font-size: 14px;
    line-height: 1.05;
    font-weight: 550;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #f3f3f3 !important;
}
.title-main {
    font-size: 150px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: white;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Colors */
.pink {
    color: #f71f6a;
}
.blue {
    color: #04f1d6;
}
.green {
    color: #99fb0b;
}
.gray{
    color: #383938;
}
.white {
    color: #f3f3f3;
}

/* NavBar Design */
.navbar-design {
    display: flex;
    position: sticky;
    min-height: 5vh !important;
    margin-bottom: 3vh;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    background-color: #e6e6e6;
}
.logo-style {
    font-size: 28px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #f71f6a;
    padding-top: 1.5vh;
}
.nav-link-style {
    font-size: 18px;
    line-height: 1.05;
    font-weight: 450;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #383938 !important;
    padding-top: 1.25vh !important;
}
.nav-link-style:hover {
    color: #99fb0b !important;
}
.margin-left {
    margin-left: 4%;
}
.margin-right {
    margin-right: 4%;
}
.menu-img {
    outline: none !important;
    margin-top: 0.5vh;
    display: block;
    max-width: 100%;
    height: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.dropdown-menu {
    border-radius: 10px !important;
    border-style: none !important;
    margin-top: 2vh !important;
}
.dropdown-item,
.dropdown-item:hover {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 1vh !important;
    color: #131313 !important;
    background: none !important;
    line-height: 1.05;
    font-weight: 550;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.dropdown-item:hover {
    color: #99fb0b !important;
}

/* Footer Design */
.padding-footer {
    padding-top: 4vh;
    padding-bottom: 1.5vh;
}
.borderline {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}
.justify-around {
    justify-content: space-around;
}
.footer-text {
    font-size: 11px;
    line-height: 1.05;
    font-weight: 500;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #383938;
}

/* Buttons & Inputs */
button:hover,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.button-green {
    background-color: #99fb0b;
    border-style: none;
    border-radius: 11px !important;
    color: #131313;
    padding: 5px 10px;
    margin-top: 1vh;
}
.button-pink {
    background-color: #f71f6a;
    border-style: none;
    border-radius: 11px !important;
    color: #f3f3f2;
    padding: 5px 10px;
    margin-top: 1vh;
}
.button-blue {
    background-color: #04f1d6;
    border-style: none;
    border-radius: 11px !important;
    color: #131313;
    padding: 5px 10px;
    margin-top: 1vh;
}
.button-like {
    background-image: url(./img/icons/thumbs-up.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
    width: 24px;
    height: 24px;
}
.button-back-to-me {
    background-image: url(./img/icons/user.svg);
    background-color: #99fb0b;
    border-radius: 50%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    outline: none;
    width: 24px;
    height: 24px;
}
.name-friend {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.input-field {
    border-radius: 0;
    border: 0;
    padding: 0;
    background-color: transparent;
    border-bottom: 2px solid #f71f6a;
    font-size: 14px;
    line-height: 30px;
}
.input-field:focus {
    outline: none;
    border-bottom: 2px solid #04f1d6;
}
input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    transition-duration: 0.5s;
    height: 19px;
    width: 19px;
    background-color: #383938;
    border: 3px solid #99fb0b;
}
input[type="radio"]:hover {
    border: 3px solid #f71f6a;
}
input[type="radio"]:checked {
    background-color: #f71f6a;
    border: 0;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
input[type="file"] {
    display: none;
}

/* Hidden Content */
.hidden{
    display: none;
}

/* Height & Width */
.height_full{
    height: 100%;
}
.height_80{
    height: 80%;
}
.height_90{
    height: 90%;
}
.height_330{
    height: 330px;
}
.width-200{
    width: 250px;
}
.width-350{
    width: 350px
}

/* Icon Size */
.icon-size-xl {
    height: 90px;
    width: 90px;
    transition-duration: 0.5s;
}
.icon-size-xl:hover{
    height: 110px;
    width: 110px;
    transition-duration: 0.5s;
}
.icon-size-md {
    height: 70px;
    width: 70px;
    transition-duration: 0.5s;
}
.icon-size-md:hover{
    height: 110px;
    width: 110px;
    transition-duration: 0.5s;
}
.icon-size-sm {
    height: 50px;
    width: 50px;
    transition-duration: 0.5s;
}
.icon-size-sm:hover{
    height: 110px;
    width: 110px;
    transition-duration: 0.5s;
}
.icon-size-xs {
    height: 20px;
    width: 20px;
}
.icon-size-md-form {
    height: 60px;
    width: 60px;
    transition-duration: 0.5s;
}
.icon-size-md-form:hover{
    height: 70px;
    width: 70px;
    transition-duration: 0.5s;
}
.icon-size-md-activity {
    height: 70px;
    width: 70px;
}

/* Margins */
.margin-top-bottom {
    margin-bottom: 30px;
    margin-top: 30px;
}
.margin-bottom-xl {
    margin-bottom: 45px;
}
.margin-profile {
    margin-bottom: 15px;
    margin-top: 15px;
}
.margin-profile-side {
    margin-left: 15px;
    margin-right: 15px;
}
.margin-side-form {
    margin-left: 30px;
    margin-right: 30px;
}
.margin-responsive {
    margin-left: 13px;
    margin-right: 13px;
}
.margin-icons{
    margin: 8px;
}
.margin-heading-container{
    padding-top: 60px;
}
.margin-paragraph-container{
    margin-top: 5px;
}
.margin-activity {
    margin-bottom: 8px;
    margin-top: 8px;
}
.margin-activity-md {
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Paddings */
.padding-sides{
    padding-right: 45px;
    padding-left: 45px;
}
.padding-sides-sm{
    padding: 15px;
}
.padding-top-content {
    padding-top: 5%;
}
.padding-50{
    padding-top: 50px;
}
.padding-list-icon{
    margin-left: 8px;
}

/* Scroll */
.overflow-y{
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow-x{
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar::-webkit-scrollbar {
    display: none;
}
.scroll-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 0;
}

/* Display Content */
.column{
    display: flex;
    flex-direction: column;
}
.column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.center-around{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}
.center-trends-align{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    flex-direction: column;
}
.space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.justify-end{
    display: flex;
    justify-content: end;
}
.row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row-space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.relative{
    position: relative;
}
.wrap-friends{
    display: flex;
    flex-wrap: wrap;
    height: 570px;
    justify-content: center;
    padding-top: 30px;
}
.wrap-570{
    flex-wrap: wrap;
    height: 570px;
}

/* Animations */
.translate {
    animation: slide;
    -webkit-animation: slide;
    animation-duration: 0.7s;
}
@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(100px);
        webkit-transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
.fade-in {
    animation: fadeIn 0.7s;
    -webkit-animation: fadeIn 0.7s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* Media Queries */
@media screen and (min-width: 1920px) {
    .mobile-menu{
        display: none !important;
    }
}
@media screen and (max-width: 1919px) {
    .mobile-menu{
        display: none !important;
    }
    .flex-row{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1024px) {
    .mobile-menu{
        display: none !important;
    }
}
@media screen and (max-width: 990px){
    .row-space-between{
        flex-wrap: wrap;
    }
    .mobile-menu{
        display: none !important;
    }
}
@media screen and (max-width: 640px) {
    .icon-size-md-form {
        height: 60px;
        width: 60px;
        transition-duration: 0.5s;
    }
    .icon-size-md-form:hover{
        height: 65px;
        width: 65px;
        transition-duration: 0.5s;
    }
    .icon-size-xl {
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }
    .icon-size-xl:hover{
        height: 80px;
        width: 80px;
        transition-duration: 0.5s;
    }
    .icon-size-md {
        height: 60px;
        width: 60px;
        transition-duration: 0.5s;
    }
    .icon-size-md:hover{
        height: 80px;
        width: 80px;
        transition-duration: 0.5s;
    }
    .icon-size-sm {
        height: 50px;
        width: 50px;
        transition-duration: 0.5s;
    }
    .icon-size-sm:hover{
        height: 80px;
        width: 80px;
        transition-duration: 0.5s;
    }
    .icon-size-xs {
        height: 25px;
        width: 25px;
    }
    .row-space-between{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 12px;
    }
    .mobile-menu{
        display: flex !important;
    }
    .nav-desktop{
        display: none !important;
    }
    .title-main {
        font-size: 110px;
    }
}
@media screen and (max-width: 500px) {
    .icon-size-md-form {
        height: 50px;
        width: 50px;
        transition-duration: 0.5s;
    }
    .icon-size-md-form:hover{
        height: 55px;
        width: 55px;
        transition-duration: 0.5s;
    }
    .icon-size-xl {
        height: 60px;
        width: 60px;
        transition-duration: 0.5s;
    }
    .icon-size-xl:hover{
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }
    .icon-size-md {
        height: 50px;
        width: 50px;
        transition-duration: 0.5s;
    }
    .icon-size-md:hover{
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }
    .icon-size-sm {
        height: 40px;
        width: 40px;
        transition-duration: 0.5s;
    }
    .icon-size-sm:hover{
        height: 70px;
        width: 70px;
        transition-duration: 0.5s;
    }
    .icon-size-xs {
        height: 21px;
        width: 21px;
    }
    .row-space-between{
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 8px;
    }
}
@media screen and (max-width: 400px) {
    .icon-size-xl {
        height: 56px;
        width: 56px;
        transition-duration: 0.5s;
    }
    .icon-size-xl:hover{
        height: 66px;
        width: 66px;
        transition-duration: 0.5s;
    }
    .icon-size-md {
        height: 46px;
        width: 46px;
        transition-duration: 0.5s;
    }
    .icon-size-md:hover{
        height: 66px;
        width: 66px;
        transition-duration: 0.5s;
    }
    .icon-size-sm {
        height: 36px;
        width: 36px;
        transition-duration: 0.5s;
    }
    .icon-size-sm:hover{
        height: 66px;
        width: 66px;
        transition-duration: 0.5s;
    }
    .icon-size-xs {
        height: 18px;
        width: 18px;
    }
    .title-main {
        font-size: 90px;
    }
}
@media screen and (max-width: 300px) {
    .icon-size-xl {
        height: 37px;
        width: 37px;
        transition-duration: 0.5s;
    }
    .icon-size-xl:hover{
        height: 45px;
        width: 45px;
        transition-duration: 0.5s;
    }
    .icon-size-md {
        height: 37px;
        width: 37px;
        transition-duration: 0.5s;
    }
    .icon-size-md:hover{
        height: 45px;
        width: 45px;
        transition-duration: 0.5s;
    }
    .icon-size-sm {
        height: 27px;
        width: 27px;
        transition-duration: 0.5s;
    }
    .icon-size-sm:hover{
        height: 45px;
        width: 45px;
        transition-duration: 0.5s;
    }
    .icon-size-xs {
        height: 14px;
        width: 14px;
    }
    .title-main {
        font-size: 60px;
    }
    .row-space-between{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 12px;
    }
}
