/* Body & Background Default */
html,
body {
    background-color: #f3f3f2 !important;
    background: url(../img/background/background_preferences.jpeg)
    no-repeat center center fixed;
    background-size: contain;
}

/* NavBar Design */
.navbar-design {
    background-color: #f3f3f2 !important;
}

.container-translucent-health {
    border-radius: 30px;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 400px;
    background-color: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(6px) brightness(70%);
    -webkit-backdrop-filter: blur(6px) brightness(70%);
}