/* Body & Background Default */
html,
body {
    background-color: #f3f3f2 !important;
    background: url(../img/background/background_preferences.jpeg)
    no-repeat center center fixed;
    background-size: contain;
}

/* NavBar Design */
.navbar-design {
    background-color: #f3f3f2 !important;
}