html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f3f3f2;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.background {
    background: url(../img/background/background_preferences.jpeg)
    no-repeat center center fixed;
    background-size: contain;
}

/* NavBar Design */

.navbar-design {
    display: flex;
    position: sticky;
    min-height: 5vh !important;
    margin-bottom: 3vh;
    top: 0;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    background-color: #f3f3f2;
}
.logo-style {
    font-size: 28px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #f71f6a;
    padding-top: 1.5vh;
}
.nav-link-style {
    font-size: 18px;
    line-height: 1.05;
    font-weight: 450;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
    color: #383938 !important;
    padding-top: 1.25vh !important;
}
.nav-link-style:hover {
    color: #99fb0b !important;
}
.margin-left {
    margin-left: 4%;
}
.margin-right {
    margin-right: 4%;
}
.menu-img {
    outline: none !important;
    margin-top: 0.5vh;
    display: block;
    max-width: 100%;
    height: auto;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.dropdown-menu {
    border-radius: 10px !important;
    border-style: none !important;
    margin-top: 2vh !important;
}
.dropdown-item,
.dropdown-item:hover {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 1vh !important;
    color: #131313 !important;
    background: none !important;
    line-height: 1.05;
    font-weight: 550;
    letter-spacing: -0.015em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
.dropdown-item:hover {
    color: #99fb0b !important;
}
.borderline {
    display: flex;
    align-items: center;
    border-bottom: 3px #383938;
    margin-left: 10%;
    margin-right: 10%;
}
button:hover,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}